@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-nav: #020608;
  --background-primary: #080b14;
  --background-secondary: #000306;

  --background-card: #02070d;

  --background-button-1: #000305;
  --background-button-2: #02070d;

  --color-primary: #006de1;
  --color-primary-light: #021229;
  --color-secondary: #e82c35;
  --color-secondary-light: #360b10;
  --color-secondary-border: #70151d;

  --color-text-primary: #8f8f8f;
  --color-text-secondary: #f6f6f6;

  --border-1: #022754;
  --border-2: #162330;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
}

p,
a,
span {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--background-nav);
  border-bottom: 1px solid var(--border-2);
  padding: 0.5rem 0;

  .conteiner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    margin: auto;

    .container-logo-title {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 0.8rem;
        transition: 0.3s ease-in-out;

        img {
          width: 3rem;
        }

        h1 {
          color: var(--color-text-secondary);
          transition: 0.3s ease-in-out;
        }

        &:hover {
          h1 {
            color: var(--color-primary);
          }
        }
      }
    }

    nav {
      ul {
        display: flex;
        gap: 1rem;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: var(--color-text-primary);
            transition: 0.3s ease-in-out;

            &:hover {
              color: var(--color-text-secondary);
              border-bottom: 1px solid var(--color-primary);
            }
          }
        }
      }
    }

    .container-buttons-nav {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        text-decoration: none;
        color: var(--color-text-secondary);
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }

      .sesion {
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: var(--color-secondary);
        }
      }

      .comprar {
        background-color: var(--color-primary);
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
